* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, helvetica neue, arial, fontawesome, helvetica, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@keyframes left-to-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes models-left-to-right {
  from {
    left: -700px;
  }
  to {
    left: 0%;
  }
}
@keyframes models-down-to-up {
  from {
    bottom: -200px;
  }
  to {
    bottom: 5%;
  }
}
@keyframes models-show {
  from {
    left: -100px;
  }
  to {
    left: 8%;
  }
}

.navbar {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 20px;
  width: 100%;
  background-color: #181818;
  display: flex;
  z-index: 100;
}

.navbar-left {
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left .navbar-logo {
  position: relative;
  z-index: 999;
}

.navbar-menu {
  padding-left: 10px;
}

.navbar-menu .navbar-menu-item {
  display: inline-block;
  margin: 15px;
}

.navbar-menu .navbar-menu-item a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  position: relative;
  padding-bottom: 6px;
}

.navbar-menu .navbar-menu-item a:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 0%;
  transition: 0.5s;
}

.navbar-menu .navbar-menu-item a:hover::after {
  width: 100%;
  background: white;
}

/* sub1 */
.navbar-menu .navbar-menu-item .navbar-sub-menu1 {
  width: 100vw;
  display: none;
  background-color: #181818;
  left: 0;
  padding-left: 190px;
  padding-top: 20px;
}

.navbar-menu .navbar-menu-item:hover .navbar-sub-menu1 {
  position: absolute;
  display: block;
  color: white;
  transition: 1.5s;
  animation-delay: 0.2s;
  top: 60px;
}

.navbar-menu .navbar-menu-item:hover .navbar-sub-menu1 a {
  display: flex;
  flex-direction: column;
  color: rgba(185, 181, 181, 0.5);
  padding: 15px 0px;
  font-size: 16px;
}

.navbar-menu .navbar-menu-item .navbar-sub-menu1 a:hover {
  color: rgb(248, 241, 241);
}
/* sub2  */
.navbar-menu .navbar-menu-item .navbar-sub-menu2 {
  display: none;
  width: 100vw;
  position: absolute;
  top: 60px;
  background-color: #181818;
  padding-top: 20px;
  left: 0;
  padding-left: 280px;
}

.navbar-menu .navbar-menu-item:hover .navbar-sub-menu2 {
  display: block;
  color: white;
}
.navbar-menu .navbar-menu-item:hover .navbar-sub-menu2 a {
  display: flex;
  flex-direction: column;
  color: rgba(185, 181, 181, 0.5);
  padding: 15px;
}
.navbar-menu .navbar-menu-item .navbar-sub-menu2 a:hover {
  color: rgb(248, 241, 241);
}
/* sub3 */
.navbar-menu .navbar-menu-item .navbar-sub-menu3 {
  display: none;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: #181818;
  animation-duration: 0.2s;
  padding-top: 20px;
  padding-left: 410px;
}

.navbar-menu .navbar-menu-item:hover .navbar-sub-menu3 {
  display: block;
  color: white;
}
.navbar-menu .navbar-menu-item:hover .navbar-sub-menu3 a {
  display: flex;
  flex-direction: column;
  color: rgba(185, 181, 181, 0.5);
  padding: 15px;
}
.navbar-menu .navbar-menu-item .navbar-sub-menu3 a:hover {
  color: rgb(248, 241, 241);
}
/*  */

.navbar-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-right img {
  width: 40px;
  height: 30px;
  background-color: white;
}

.navbar-right img {
  margin: 0px 5px;
  background-color: transparent;
}

.navbar-right button {
  border: unset;
  background-color: transparent;
  padding: 15px;
  cursor: pointer;
}

.navbar-right button:active {
  background-color: red;
}

.navbar-right a {
  text-decoration: none;
  color: white;
  padding: 15px;
  position: relative;
}
.navbar-right a:after {
  position: absolute;

  content: "";
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 0%;
  transition: 0.5s;
}
.navbar-right a:hover::after {
  width: 100%;
  background: white;
}
/*  */
.show-menu {
  display: none;
}
.button-menu:hover .show-menu {
  display: none;
}
.button-menu:hover .menu-responsive {
  display: none;
}
.button-menu1 {
  display: none;
}
.menu-responsive {
  height: auto;
  color: white;
  width: 100vw;
  height: 20vh;
  position: fixed;
  display: block;
  flex-direction: column;
  right: 0;
  top: 80px;
}
.model-responsive {
  height: auto;
  display: flex;
  justify-content: space-between;
}
.menu-responsive {
  display: none;
}
/*  */
.show-menu {
  position: fixed;
  display: none;
  background-color: #181818;
  width: 100vw;
  height: auto;
  right: 0;
  top: 80px;
}
.show-menu a {
  padding: 15px 0px;
}

.button-menu:hover .show-menu {
  display: block;
}

.show-menu1 {
  padding: 15px 0px;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-top: 10px;
  align-items: center;
}
.show-menu1 .menu-column1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
}

.show-menu1 .menu-column2 {
  width: 30%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.show-menu1 .menu-column3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10%;
}
/*  */
.show-menu2 {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding-top: 10px;
}
.menu2-column1 {
  width: 30%;
  margin-left: 10%;
}
.menu2-column1 h4 {
  padding: 15px;
  padding-left: 0px;
}
.show-menu2 .menu2-column1 h6 {
  display: flex;
  color: rgb(104, 97, 97);
  font-size: 20px;
}
.menu2-column1-text {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}
.menu2-column1 {
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.menu2-column2 {
  color: white;
  padding: 15px;
  width: 30%;
  padding-left: 2.4%;
}

.menu2-column2-text {
  padding-top: 10px;
  width: 30%;
  display: flex;
  font-size: 18px;
}
.menu2-column2-text img {
  margin: 10px;
}
.menu2-column2 h6 {
  display: flex;
  color: rgb(104, 97, 97);
  font-size: 20px;
  margin-left: 3%;
}
.menu2-column3 {
  color: white;
  width: 30%;
  padding-left: 6.5%;
}
.menu2-column3-text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: flex-start;
}
.show-menu2 .menu2-column3 h6 {
  display: flex;
  color: rgb(104, 97, 97);
  font-size: 18px;
}
.show-menu2 .menu2-column3 h5 {
  padding-top: 10px;
  display: flex;
  color: rgb(104, 97, 97);
  font-size: 18px;
}

/*  */
.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("img/img-motosports/slide_motorsport_01.jpg") fixed center
    no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.text-background {
  width: 40%;
  color: white;
  position: absolute;
  top: 40%;
  left: 8%;
}

.text1 {
  padding: 10px;
  font-size: 30px;
}

.text-background > h3 {
  width: 0;
  animation-name: left-to-right;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0;
  font-size: 30px;
}

.text-background > h1 {
  left: 0%;
  width: 100%;
  position: absolute;
  animation-name: models-left-to-right;
  animation-duration: 1.5s;
  animation-delay: 0.1s;
  line-height: 0.9;
  letter-spacing: -3.48px;
  font-size: 100px;
}

.text-background2 {
  animation-name: models-down-to-up;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  width: 40%;
  position: absolute;
  bottom: 5%;
  right: 10%;
  display: flex;
  overflow-y: hidden;
}

.text-background2-1 button {
  border: unset;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.text-background2-1 {
  text-align: center;
  width: 30%;
}

.text-background2-2 {
  width: 70%;
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 5%;
  right: 10%;
  color: white;
}

.text-background2-2 h6 {
  font-size: 15px;
  padding: 10px;
}

.text-background2-2 h2 {
  font-size: 35px;
}
/*  */
.motosport-news {
  width: 100%;
  height: 80vh;
  position: relative;
}
.motosport-news h2 {
  font-size: 30px;
  padding: 30px 0px;
  margin-left: 10%;
  margin-top: 10%;
}
.motosport-new-column {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-around;
}
.motosport-news-1 img {
  width: 415px;
  height: 200px;
}
.motosport-news-1 h6 {
  padding: 30px 0px 20px 0px;
  color: black;
  font-size: 15px;
  font-weight: 1;
}
.motosport-news-2 h6 {
  padding: 30px 0px 20px 0px;
  color: black;
  font-size: 15px;
  font-weight: 1;
}
.motosport-news-3 h6 {
  padding: 30px 0px 20px 0px;
  color: black;
  font-size: 15px;
  font-weight: 1;
}
.motosport-news-1 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.motosport-news-2 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
}
.motosport-news-3 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.motosport-news-2 img {
  width: 415px;
  height: 200px;
}
.motosport-news-3 img {
  width: 415px;
  height: 200px;
}
.motosport-news-1 button {
  width: 50%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  border: 1px solid;
  margin-top: 5%;
}

.motosport-news-2 button {
  width: 50%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  border: 1px solid;
  margin-top: 20%;
}

.motosport-news-3 button {
  width: 50%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  border: 1px solid;
  margin-top: 20%;
}
.motosport-news-1 button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
.motosport-news-2 button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
.motosport-news-3 button:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.motosport-news-1 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 200px;
}
.motosport-news-2 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 200px;
}
.motosport-news-3 {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 200px;
}
/*  */
.squadra-course {
  margin-top: 150px;
  width: 100%;
  height: 100vh;
  display: flex;
}

.image-squadra img {
  width: 100%;
  height: 80vh;
  clip-path: polygon(0 0, 100% 0%, 54% 100%, 0% 100%);
}
.text-squadra {
  padding-left: 30px;
  margin-top: 10%;
  margin-right: 5%;
  width: 40%;
}
.text-squadra h3 {
  padding: 20px 0px;
  font-size: 30px;
}
.text-squadra p {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 200;
}
/*  */
.text-contain {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.text-container1 {
  margin-left: 10%;
  width: 35%;
  font-weight: 300;
}
.text-container1 img {
  width: 370px;
  height: 150px;
  padding: 20px 0px;
}
.text-container1 p {
  font-weight: 10;
  line-height: 1.5;
  font-size: 18px;
}
.text-container2 {
  top: 300%;
  display: flex;
  flex-direction: column;
  width: 70%;
  position: absolute;
  right: 0;
}
.image1 {
  position: absolute;
  width: 950px;
  height: 550px;
  right: 0;
  top: 50;
  transform: translate(35%, 0%);
  margin: auto;
  display: flex;
  justify-content: flex-start;
  clip-path: polygon(55% 0, 100% 0%, 100% 100%, 15% 100%);
  padding: 10px;
}
.image2 {
  position: absolute;
  transform: translate(0%, 87%);
  width: 980px;
  height: 650px;
  right: 0;
  clip-path: polygon(100% 0%, 100% 75%, 100% 100%, 7% 100%, 51% 0);
}
.text-container3 {
  margin-top: 20px;
  display: flex;
  width: 50%;
}
.text-container3 a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

/*  */
.text-huracan {
  height: 100vh;
  width: 100%;
  position: relative;
}
.text-huracan-left {
  position: absolute;
  width: 40%;
}
.text-huracan-left-1 img {
  transform: translate(-10%, 10%);
  width: 1000px;
  height: 500px;
  clip-path: polygon(35% 0%, 100% -2%, 67% 100%, -2% 100%);
}
.text-huracan-left-2 img {
  padding: 10px;
  transform: translate(-40%, 10%);
  width: 1000px;
  height: 500px;
  clip-path: polygon(25% 0%, 100% -10%, 67% 100%, 0% 100%);
}
.text-huracan-right {
  color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  width: 40%;
  right: 10%;
}
.text-huracan-right > a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: 600;
  padding: 20px 0px;
}
.text-huracan-right a {
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  position: relative;
}
.text-huracan-right a:after {
  position: absolute;
  content: "";
  width: 0%;
  right: 0;
  left: 0;
  bottom: -4px;
  height: 1.5px;
  transition: 0.5s;
}
.text-huracan-right a:hover:after {
  width: 150%;
  background-color: black;
}
.text-huracan-right p {
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
}
.text-huracan-right img {
  width: 370px;
  height: 20px;
  margin: 30px 0px;
}
.text-huracan-right-a a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.text-huracan-right-a {
  text-decoration: none;
  padding-top: 20px;
  text-decoration: none;
}
/*  */
.text-limited-seri {
  position: relative;
  width: 100%;
  margin-top: 25%;
}
.text-limited {
  position: relative;
  margin-left: 10%;
  width: 35%;
}
.text-limited h2 {
  padding: 20px 0px;
  font-size: 30px;
}
.text-limited p {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.5;
}
.text-limited-link {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.text-limited-link a {
  text-decoration: none;
  color: black;
  padding: 15px 0px;
}
.text-limited-link a {
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  position: relative;
}
.text-limited-link a:after {
  position: absolute;
  content: "";
  width: 0%;
  right: 0;
  left: 0;
  bottom: -4px;
  height: 1.5px;
  transition: 0.5s;
}
.text-limited-link a:hover:after {
  width: 50%;
  background-color: black;
}
/*  */
.text-limited-image1 img {
  transform: translate(5%, 0%);
  width: 1000px;
  height: 450px;
  clip-path: polygon(30% 0%, 100% -10%, 70% 100%, 0% 100%);
}
.text-limited-image1 {
  position: absolute;
  top: 25%;
  right: 0;
}
.text-limited-image2 img {
  width: 1000px;
  height: 450px;
  transform: translate(-83%, 0%);
  clip-path: polygon(46% 0%, 100% -10%, 67% 100%, 0% 100%);
}
.text-limited-image2 {
  position: absolute;
  top: 110%;
  right: 0;
}
/*  */
.text-urus {
  display: flex;
  margin-top: 40%;
  width: 100%;
  position: relative;
}
.text-urus-left {
  margin-top: 7%;
  width: 30%;
  margin-left: 10%;
}
.text-urus-left a {
  text-decoration: none;
  font-size: 30px;
  font: weight 700px;
  color: black;
}
.text-urus-left img {
  padding: 30px 0px;
}
.text-urus-left p {
  padding: 20px 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}
.text-urus-right {
  margin-left: 10%;
  width: 50%;
}
.text-urus-right img {
  height: 600px;
  transform: translate(-28%, -10%);
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 15% 100%);
}
.button-urus-column {
  display: flex;
  flex-direction: column;
}
.button-urus-column a {
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-weight: 350;
}
.button-urus-column a {
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  position: relative;
}
.button-urus-column a:after {
  position: absolute;
  content: "";
  width: 0%;
  right: 0;
  left: 0;
  bottom: -4px;
  height: 1.5px;
  transition: 0.5s;
}
.button-urus-column a:hover:after {
  width: 100%;
  background-color: black;
}
/* end */
.container-end {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
}
.container {
  display: flex;
  width: 100%;
  padding: 40px 0px 10px 0px;
}
.container-end img {
  width: 30px;
  height: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-left {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 2%;
}
.container-left-4 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.container-left-3 {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.container-right {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  width: 40%;
}
.container-right button {
  background-color: transparent;
  border: unset;
}
.container-left a {
  text-decoration: none;
  color: white;
  position: relative;
}
.container-left a:after {
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  bottom: -5px;
  right: 0;
  width: 0%;
  transition: 0.5s;
}
.container-left a:hover:after {
  width: 100%;
  background-color: white;
}
.text-container {
  padding: 40px;
  width: 60%;
  color: white;
}
.text-container-end {
  font-size: 12px;
  padding: 2px;
  color: white;
  background-color: black;
  text-align: center;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }
  .navbar-left {
    justify-content: unset;
  }
  .navbar-left a {
    position: absolute;
    left: 0;
    padding: 10px;
  }
  .navbar-right a {
    display: none;
  }
  .navbar-right button {
    padding: 0;
  }
  .navbar-left img {
    width: 50px;
    height: 50px;
  }
  .text-background2 {
    display: none;
  }
  /*  */
  .button-menu:hover .show-menu {
    display: none;
  }

  .button-menu:hover,
  .navbar:hover .menu-responsive {
    padding-top: 10px;
    display: block;
    background: black;
  }
  .menu-responsive {
    height: auto;
    top: 80px;
  }
  .menu-responsive:hover {
    display: block;
  }
  .menu-responsive a {
    display: block;
  }
  /*  */
  .motosport-new-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .motosport-news-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .motosport-news-2 {
    margin-top: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .motosport-news-2 button {
    margin-top: 10px;
  }
  .motosport-news-3 button {
    margin-top: 10px;
  }
  .motosport-news-3 {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .squadra-course {
    margin-top: 660px;
  }
  /*  */
  .squadra-course {
    flex-direction: column;
  }
  .image-squadra {
    width: 100%;
  }
  .image-squadra img {
    clip-path: unset;
  }
  .text-squadra {
    width: 100%;
  }
  .text-contain {
    margin-top: 100px;
    width: 100%;
  }
  .image2 {
    display: none;
  }
  .image1 {
    top: 100%;
    clip-path: unset;
  }
  .text-container2 {
    display: flex;
    position: relative;
  }

  .text-container1 {
    width: 100%;
    margin-left: 5%;
  }
  .text-huracan-left-2 {
    display: none;
  }
  .text-huracan {
    width: 100%;
    position: relative;
  }
  .text-huracan-left-1 {
    margin-top: 500px;
  }
  .text-huracan-left-1 img {
    clip-path: unset;
  }
  .text-huracan-right {
    width: 100%;
    margin: 0;
    top: 105%;
    right: 0;
    padding-left: 5%;
  }
  .text-huracan-right-a {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    width: 100%;
  }
  .text-huracan-right-a a {
    text-align: center;
    width: 100%;
  }
  /*  */
  .text-limited {
    width: 100%;
    margin-left: 5%;
  }
  .text-limited-seri {
    margin-top: 50%;
  }
  .text-limited-image1 img {
    clip-path: unset;
    transform: translate(5%, 50%);
  }
  .text-limited-link {
    margin-left: -5%;
    width: 100%;
    text-align: center;
  }
  .text-limited-link a {
    border: 1px solid;
    margin: 10px 0px;
  }
  .text-urus {
    margin-top: 70%;
    flex-direction: column;
  }
  .text-urus-left {
    margin: 0;
    margin-left: 5%;
    width: 100%;
  }
  .text-urus-left p {
    padding: 0;
  }
  .text-urus-right img {
    width: 1000px;
    height: auto;
    transform: translate(-30%, 0%);
    padding: 20px;
    clip-path: unset;
  }
  /*  */
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .container-left {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    flex-direction: column;
  }
  .container-left-4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .container-left-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .container-right {
    width: 100%;
  }
  .text-container {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 740px) {
  .navbar-menu {
    display: none;
  }
  .navbar-left {
    justify-content: unset;
  }
  .navbar-left a {
    position: absolute;
    left: 0;
    padding: 10px;
  }
  .navbar-right a {
    display: none;
  }
  .navbar-right button {
    padding: 0;
  }
  .navbar-left img {
    width: 50px;
    height: 50px;
  }
  .text-background2 {
    display: none;
  }

  /*  */
  .button-menu:hover .show-menu {
    display: none;
  }

  .button-menu:hover,
  .navbar:hover .menu-responsive {
    padding-top: 10px;
    display: block;
    background: black;
  }
  .menu-responsive {
    height: auto;
    top: 80px;
  }
  .menu-responsive:hover {
    display: block;
  }
  .menu-responsive a {
    display: block;
  }
  /*  */
  .text-background h1 {
    font-size: 60px;
  }
  .text-background h3 {
    font-size: 20px;
  }
  .motosport-news {
    height: auto;
  }
  .motosport-new-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .motosport-news-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .motosport-news-2 {
    margin-top: 333px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .motosport-news-2 button {
    margin-top: 10px;
  }
  .motosport-news-3 button {
    margin-top: 10px;
  }
  .motosport-news-3 {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .squadra-course {
    margin-top: 333px;
  }
  /*  */
  .squadra-course {
    flex-direction: column;
    height: auto;
  }
  .image-squadra {
    width: 100%;
  }
  .image-squadra img {
    height: auto;
    clip-path: unset;
  }
  .text-squadra {
    width: 100%;
  }
  .text-contain {
    width: 100%;
  }
  .image2 {
    display: none;
  }
  .image1 {
    top: 100%;
    clip-path: unset;
  }
  .text-container2 {
    display: flex;
    position: relative;
  }

  .text-container1 {
    width: 100%;
    margin-left: 5%;
  }
  .text-huracan-left-2 {
    display: none;
  }
  .text-huracan {
    width: 100%;
    position: relative;
  }
  .text-huracan-left {
    width: 100%;
  }
  .text-huracan-left-1 {
    width: 100%;
    margin-top: 0;
  }
  .text-huracan-left-1 img {
    clip-path: unset;
    height: auto;
    width: 100%;
    padding: 20px;
    transform: unset;
  }
  .text-huracan-right {
    width: 100%;
    margin: 0;
    top: 30%;
    right: 0;
    padding-left: 5%;
  }
  .text-huracan-right-a {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    width: 100%;
  }
  .text-huracan-right-a a {
    text-align: center;
    width: 100%;
  }
  /*  */
  .text-container2 {
    display: none;
  }
  .text-limited {
    width: 100%;
    margin-left: 5%;
  }
  .text-limited-seri {
    margin-top: 0%;
  }
  .text-limited-image1 img {
    clip-path: unset;
    transform: translate(5%, 50%);
  }
  .text-limited-link {
    margin-left: -5%;
    width: 100%;
    text-align: center;
  }
  .text-limited-link a {
    border: 1px solid;
    margin: 10px 0px;
  }
  .text-limited-image1 {
    position: unset;
    top: 0;
  }
  .text-limited-image1 img {
    width: 100%;
    transform: unset;
    height: auto;
  }
  .text-urus {
    margin-top: 10%;
    flex-direction: column;
  }
  .text-urus-left {
    margin: 0;
    margin-left: 5%;
    width: 100%;
  }
  .text-urus-left p {
    padding: 0;
  }
  .text-urus-right img {
    width: 1000px;
    height: auto;
    transform: translate(-30%, 0%);
    padding: 20px;
    clip-path: unset;
  }
  /*  */
  .container {
    display: flex;
    flex-direction: column;
  }
  .container-left {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
  }
  .container-right {
    width: 100%;
    padding: 0;
  }
  .container-end img {
    width: 25px;
    height: 25px;
  }
  .text-container {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    line-height: 1.4;
  }
  .text-container-end {
    font-size: 10px;
  }

  .container-left {
    display: flex;
    flex-direction: column;
  }
  .container-left-4 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
  .container-left-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
